<nav class="ml-6 panel-primary min-w-36">
  <h4 class="text-center mt-3 mb-8">
    Categories
  </h4>

  <ul class="mx-3">
    <li class="btn-panel-accent flex justify-center">
      <%= link_to root_path, class: "text-gray-800" do %>
        Latest
      <% end %>
    </li>
    <% Category.all.each do |category| %>
      <li class="btn-panel-primary flex justify-center">

        <%= link_to articles_path(category: category.name), class: "text-blue-300" do %>
          <%= category.name %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <ul class="mb-3 mt-8 mx-3">
  <!--           If User is NOT signed in           -->
    <% unless user_signed_in? %>
      <li class="btn-panel-accent">
        <%= link_to new_user_session_path, class: "text-black" do %>
          Login
        <% end %>
      </li>
      <li class="btn-panel-accent">
        <%= link_to new_user_registration_path, class: "text-black" do %>
          Register
        <% end %>
      </li>
    <% end %>

    <!--           If User IS signed in           -->
    <% if user_signed_in? %>
      <li class="btn-panel-accent">
        <%= link_to profile_path, class: "text-black" do %>
          My Profile
        <% end %>
      </li>
      <li class="btn-panel-accent">
        <%= button_to destroy_user_session_path, method: :delete, class: "text-black" do %>
          Logout
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>