<div id="comments">
  <%= turbo_frame_tag "comment_#{comment.id}" do %>
    <div class="relative text-sm text-gray-500 dark:text-gray-200 text-sm font-light shadow rounded-xl m-1">
      <div class="flex justify-between items-center py-1 px-3">
        <div class="flex gap-3">
          <div class="flex-none">
            <%= image_tag avatar_url_for(comment.commenter), class: "hidden lg:inline-block h-8 rounded-full mr-2 bg-white rounded-full p-0.5" %>
          </div>
          <div class="font-medium text-gray-600 dark:text-gray-200 text-sm">
            <%= comment.commenter_name %>
          </div>
          <% if comment.editted? %>
            <div class="text-xs text-gray-400 dark:text-gray-300">
              (edited <%= time_ago_in_words(comment.updated_at) %> ago)
            </div>
          <% end %>
        </div>
        <div class="flex gap-3">
          <% if current_user.can?(:update, comment) %>
            <%= link_to "Edit", edit_comment_path(comment), class: "btn-panel-primary rounded-full text-blue-200" %>
            <%= button_to "Delete", archive_comment_path(comment), class: "btn-panel-primary rounded-full text-blue-200" %>
          <% end %>
          <p class="text-sm"><time datetime="<%= comment.created_at %>">
            <%= time_ago_in_words(comment.created_at) %> ago
          </time></p>
        </div>

      </div>

      <p class="py-2 px-5">
        <%= comment.body %>
      </p>
    </div>
  <% end %>
</div>