

<%= turbo_frame_tag "article-#{@article.id}", class: "relative isolate flex flex-col gap-3 lg:flex-row rounded-xl shadow p-1" do %>

  <div class="relative bg-form my-3 p-3 pb-12 ml-8 min-h-96">
    <!--    Back Button-->
    <%= link_to show_card_article_path(@article), class: "absolute top-5 right-5 rounded-full text-white w-12 h-12  flex justify-center inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-indigo-600 transition duration-300 ease-out border-2 border-purple-500 rounded-full shadow-md group" do %>
      <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-purple-500 group-hover:translate-x-0 ease">
        Back
      </span>
      <span class="absolute p-3 flex items-center justify-center w-full h-full text-purple-500 transition-all duration-300 transform group-hover:translate-x-full ease">
        <%= image_tag 'svg/left_arrow.svg' %>
      </span>
      <span class="relative invisible"></span>
    <% end %>

    <!--    Article Content-->
    <div class="flex flex-row justify-around w-full">
      <h3 class="">
        <%= @article.name %>
      </h3>

      <div class="text-sm text-gray-300 font-semibold">
        <%= @article.created_at.strftime("%d/%m/%Y") %>
      </div>
    </div>

    <% if current_user&.admin? %>
      <div class="absolute bottom-3 right-3 flex flex-row justify-end gap-3 w-full">
        <div class="px-2 flex gap-2 rounded-xl ">
          <%= link_to "Edit", edit_article_path(@article), class: "btn-primary min-w-32 text-center" %>
        </div>

        <div class="px-2 flex gap-2 rounded-xl ">
          <%= button_to "Favourite", favourite_article_path(@article), class: "btn-primary min-w-32 text-center" %>
        </div>
      </div>
    <% end %>


    <div>
      <% @article.categories.each do |category| %>
        <span class="<%= category.colour %> text-white p-1 rounded">
          <%= category.name %>
        </span>
      <% end %>
    </div>

    <p>
      <%= @article.content %>
    </p>
  </div>
<% end %>