<div id="comments">
  <%= turbo_frame_tag "comment_#{component.comment.id}" do %>
    <div class="relative text-sm  bg-content border-primary-element text-gray-500 dark:text-gray-200 text-sm font-light shadow rounded-xl m-1 shadow-primary-element">
      <div class="flex justify-between items-center py-1 px-3">
        <div class="flex gap-3">
          <div class="flex-none">
            <%= image_tag avatar_url_for(component.comment.commenter), class: "hidden lg:inline-block h-8 rounded-full mr-2 bg-white rounded-full p-0.5" %>
          </div>
          <div class="font-medium text-primary-600 dark:text-green-300 text-sm">
            <%= component.comment.commenter_name %>
          </div>
          <% if component.comment.editted? %>
            <div class="text-xs text-gray-400 dark:text-gray-300">
              (edited <%= time_ago_in_words(component.comment.updated_at) %> ago)
            </div>
          <% end %>
        </div>
        <div class="flex gap-3">
          <% if current_user&.can?(:update, component.comment) %>

            <%= link_to "Edit", edit_comment_path(component.comment), data: { turbo_action: "advance" }, class: "btn-tertiary btn-outline h-fit" %>
            <%= button_to "Delete", archive_comment_path(component.comment), data: { turbo_action: "advance" }, class: "btn-tertiary btn-outline h-fit" %>
          <% end %>
          <p class="text-sm"><time datetime="<%= component.comment.created_at %>">
            <%= time_ago_in_words(component.comment.created_at) %> ago
          </time></p>
        </div>

      </div>

      <p class="py-2 px-5 dark:text-neutral-100">
        <%= component.comment.body %>
      </p>
    </div>
  <% end %>
</div>