<%= render PrimaryContainerComponent.new do |content| %>
  <% content.capture_content do %>
    <section class="mx-12 mx-auto rounded-xl flex flex-col justify-evenly">
      <h2 class="text-blue-800 dark:text-white text-center mt-3 mb-8">
        Profile
      </h2>

      <%= form_with(model: current_user, url: profile_update_path, method: :patch, local: true) do |form| %>
          <div class="form_container rounded-3xl">
            <div class="form_field py-5">
              <%= image_tag avatar_url_for(form.object), class: "rounded-full border-2 border-black cursor-pointer" %>

              <div>
                <%= form.file_field :avatar, accept: "image/*", class: "file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-gray-50 file:text-gray-700 hover:file:bg-gray-100 " %>
              </div>
            </div>

            <div class="flex flex-col w-full justify-between gap-3 py-5">
              <div class="flex flex-row justify-between">
                <%= form.label :first_name %>
                <%= form.text_field :first_name, class: "form-control w-2/3", required: true, placeholder: 'John' %>
              </div>

            <div class="flex flex-row justify-between">
              <%= form.label :last_name %>
              <%= form.text_field :last_name, class: "form-control w-2/3", required: false, placeholder: 'Smith' %>
            </div>

            <div class="flex flex-row justify-between">
              <%= form.label :alias %>
              <%= form.text_field :alias, class: "form-control w-2/3", required: false, placeholder: 'John' %>
            </div>

              <div class="flex flex-row justify-between">
                <%= form.label :theme, class: "w-64" %>
                <%= form.select :theme, theme_options, { selected: current_user.theme}, { class: "select w-2/3" } %>
              </div>
          </div>

            <div class="form_field pb-3 flex justify-between w-full">
              <label for="location">Location</label>
              <%= form.collection_select :location, country_list, :to_s, :to_s, { prompt: "Select a country" }, class: "form_input" %>
            </div>
          </div>

        <div class="form_field p-8">
          <%= form.submit "Update", class: "btn-primary btn-outline" %>
        </div>
      <% end %>
    </section>
  <% end %>
<% end %>